<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="CondoDb"
			 connectionString="Data Source=.;Initial Catalog=dbcondominios-re;Integrated Security=True;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<appSettings>
		<!-- usuario por defecto que se enviará al SP -->
		<add key="DefaultEjecutor" value="rtscon@local"/>
	</appSettings>
</configuration>