# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build
**/bin/
**/obj/
**/TestResults/
*.cache
*.log

# NuGet
packages/
*.nupkg
**/packages/*           # ignora todo...
!**/packages/build/     # ...salvo targets de build si los usas
!**/packages/repositories.config

# Rider/Resharper si aplicara
.idea/
_ReSharper.Caches/
.vs/RTSCon/v17/.suo
RTSCon/obj/Debug/RTSCon.Presentacion.csproj.AssemblyReference.cache
